<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Is it the Onion?</title>

  <!-- Bootstrap core CSS -->
  <!-- <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="all"> -->
  <!-- <link href="{{ url_for('static', filename='templates/bootstrap/css/bootstrap.min.css') }}" /> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" type="text/css">

</head>

  <!-- Navigation -->
  <ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/contact">Contact</a>
  </li>
</ul>

<body>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      <h1 class="mt-5">Contact Me</h1>
      <p>I received my PhD in Biophysics from Stanford University in June 2019. Check out my <a href="https://github.com/mmalinas/">Github</a> and my <a href="https://www.linkedin.com/in/melanie-malinas/">LinkedIn</a>, or <a href="mailto: melaniemalinas@gmail.com">email me</a>.

  <!-- core JavaScript -->
  <script src="{{ url_for('static', filename='jquery/jquery.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <!-- <script src="templates/jquery/jquery.slim.min.js"></script> -->
  <!-- <script src="templates/bootstrap/js/bootstrap.bundle.min.js"></script> -->

</body>

</html>
